<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="fr.kazejiyu.ekumi.debug.ui.form.EkumiTabGroup"
            description="Executes a workflow."
            id="fr.kazejiyu.ekumi.launchConfiguration.ui.launchConfigurationType.tabGroup"
            type="fr.kazejiyu.ekumi.launchConfiguration.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
