<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>

<!--
-->

<plugin>
   <extension-point id="languages" name="Languages" schema="schema/languages.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ekumi -->
      <package
            uri="http://fr.kazejiyu.io/ekumi"
            class="fr.kazejiyu.ekumi.core.ekumi.EkumiPackage"
            genModel="model/ekumi.genmodel"/>
   </extension>

</plugin>
