<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="fr.kazejiyu.ekumi.core.workflow.impl.BasicWorkflowFactory"
            uri="http://fr.kazejiyu.io/ekumi/workflow">
      </factory>
      <factory
            class="fr.kazejiyu.ekumi.core.spec.impl.BasicSpecFactory"
            uri="http://fr.kazejiyu.io/ekumi/spec">
      </factory>
   </extension>




</plugin>
