<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.kazejiyu.ekumi.core.datatypes">
      <datatype
            class="fr.kazejiyu.ekumi.datatypes.String"
            name="fr.kazejiyu.ekumi.datatypes.string">
      </datatype>
      <datatype
            class="fr.kazejiyu.ekumi.datatypes.DoubleType"
            name="fr.kazejiyu.ekumi.datatypes.double">
      </datatype>
   </extension>
   <extension
         point="fr.kazejiyu.ekumi.core.catalogs">
      <category
            id="fr.kazejiyu.ekumi.datatypes.category1"
            name="category1"
            parent="fr.kazejiyu.ekumi.datatypes.catalog1">
      </category>
      <category
            id="fr.kazejiyu.ekumi.datatypes.category2"
            name="category2"
            parent="fr.kazejiyu.ekumi.datatypes.category1">
      </category>
      <catalog
            id="fr.kazejiyu.ekumi.datatypes.catalog1"
            name="Catalog 1">
      </catalog>
   </extension>

</plugin>
