<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.kazejiyu.ekumi.model.datatypes">
      <datatype
            class="fr.kazejiyu.ekumi.datatypes.StringType"
            name="fr.kazejiyu.ekumi.datatypes.string">
      </datatype>
      <datatype
            class="fr.kazejiyu.ekumi.datatypes.DoubleType"
            name="fr.kazejiyu.ekumi.datatypes.double">
      </datatype>
   </extension>
</plugin>
