<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.kazejiyu.ekumi.core.datatypes">
      <datatype
      		id="fr.kazejiyu.ekumi.datatypes.string"
            class="fr.kazejiyu.ekumi.datatypes.StringType"
            name="String">
      </datatype>
      <datatype
            id="fr.kazejiyu.ekumi.datatypes.double"
            class="fr.kazejiyu.ekumi.datatypes.DoubleType"
            name="Double">
      </datatype>
   </extension>
</plugin>
