<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="fr.kazejiyu.ekumi.debug.RunWorkflow"
            id="fr.kazejiyu.ekumi.launchConfiguration.launchConfigurationType"
            modes="run"
            name="Workflow">
      </launchConfigurationType>
   </extension>

</plugin>
