<?xml version="1.0" encoding="UTF-8" standalone="no"?><?eclipse version="3.0"?><!--
--><plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ekumi -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.kazejiyu.ekumi.catalog.presentation.CatalogModelWizardID"
            name="%_UI_CatalogModelWizard_label"
            class="fr.kazejiyu.ekumi.catalog.presentation.CatalogModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CatalogModelFile.gif">
         <description>%_UI_CatalogModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ekumi -->
      <editor
            id="fr.kazejiyu.ekumi.catalog.presentation.CatalogEditorID"
            name="%_UI_CatalogEditor_label"
            icon="icons/full/obj16/CatalogModelFile.gif"
            extensions="catalog"
            class="fr.kazejiyu.ekumi.catalog.presentation.CatalogEditor"
            contributorClass="fr.kazejiyu.ekumi.catalog.presentation.CatalogActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ekumi -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.kazejiyu.ekumi.core.ekumi.presentation.EkumiModelWizardID"
            name="%_UI_EkumiModelWizard_label"
            class="fr.kazejiyu.ekumi.core.ekumi.presentation.EkumiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EkumiModelFile.gif">
         <description>%_UI_EkumiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ekumi -->
      <editor
            id="fr.kazejiyu.ekumi.core.ekumi.presentation.EkumiEditorID"
            name="%_UI_EkumiEditor_label"
            icon="icons/full/obj16/EkumiModelFile.gif"
            extensions="ekumi"
            class="fr.kazejiyu.ekumi.core.ekumi.presentation.EkumiEditor"
            contributorClass="fr.kazejiyu.ekumi.core.ekumi.presentation.EkumiActionBarContributor">
      </editor>
   </extension>

</plugin>