<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>

<!--
-->

<plugin>
   <extension-point id="languages" name="Languages" schema="schema/languages.exsd"/>
   <extension-point id="datatypes" name="DataTypes" schema="schema/datatypes.exsd"/>
   <extension-point id="catalogs" name="catalogs" schema="schema/catalogs.exsd"/>
   <extension-point id="specs" name="Specifications" schema="schema/specs.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ekumi -->
      <package
            uri="http://fr.kazejiyu.io/ekumi/catalog"
            class="fr.kazejiyu.ekumi.model.catalog.CatalogPackage"
            genModel="model/ekumi.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ekumi -->
      <package
            uri="http://fr.kazejiyu.io/ekumi/workflow"
            class="fr.kazejiyu.ekumi.model.workflow.WorkflowPackage"
            genModel="model/ekumi.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ekumi -->
      <package
            uri="http://fr.kazejiyu.io/ekumi/spec"
            class="fr.kazejiyu.ekumi.model.spec.SpecPackage"
            genModel="model/ekumi.genmodel"/>
   </extension>

</plugin>
